<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Error Agroservicio</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
</head>
<body>
    <div class="main-content">
        
        <h1>404</h1>
        <p>Error al cargar la pagina</p>
        
        <div id="lottie-animation"></div>
        
        <a href="/" class="back-link">Volver</a>
        
    </div>

    <script>
        lottie.loadAnimation({
            container: document.getElementById('lottie-animation'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "{{ url_for('static', filename='image/error_animacion.json') }}" 
        });
    </script>
</body>
</html>